<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="upload.css"  rel="stylesheet"type="text/css"/>
</head>
<body>
    <div class="back">
    <div  class="login-form">
    <h1>Upload</h1>
    <form name="forms" method="post" action="/register">
      
        <p>Case No:</p>    
        <input type="text" id="caseno"placeholder="CaseNo">
        <p>Upload file:</p>
        <input type="file"id="upload"placeholder="Upload file">
        
        <p><button type="submit">Submit</button></p>
    
    </form>
</div>
</div>
</body>
</html>